<!DOCTYPE html>
  <html>

    <head>

    </head>

    <body>
      <nav>
        <a href="/">
          Home
        </a>
      </nav>

      <h1>
        List of all directors
      </h1>

      <hr>

      Insert Table Here

    </body>

  </html>
